body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 118, 13);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
/*perhaps change the order of the info tags so img is last, 
or in a different div*/

/*2 info things at top*/
#click-and-info{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

#click-and-info >div{
    background-color: red;
    border-radius: 20px;
}

#click-upgrade-amount, #automatic-upgrade-amount{
    font-size: 2rem;
}

#coco-img-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Image/s*/
#coco-img{
    padding: 5px;
}

#coco-img:hover{
    cursor: pointer
}

#coco-img:active{
    transform: scale(1.1);
}

#amount-til-next-coco{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/*Bottom buttons*/
#upgrades{
    display: flex;
    justify-content: space-evenly;
}
#upgrades:hover{
    cursor: pointer
}

.upgrades{
    background-color: rgb(80, 49, 8);
    border-radius: 10px;
    border: 5px solid red;
    color: white;
}

/*a class that sets the upgrade buttons to a
lighter color when the player cant afford them*/
.too-broke{
    opacity: 50%;
}


@media only screen and (max-width: 600px) {
    #title{
        display: inline;
        justify-content: center;
        font-size: 0.7rem;
    }
    /*perhaps change the order of the info tags so img is last, 
    or in a different div*/
    #click-and-info{
        display: inline;
        justify-content: space-evenly;
        font-size: 0.5rem
    }
    
    #coco-img-container{
        display: flex;
        justify-content: center;
    }
    #coco-img{
        transform: scale(0.5);
    }
    #coco-img:hover{
        cursor: pointer;
    }
    
    #coco-img:active{
        transform: scale(0.6);
    }
    
    #amount-til-next-coco{
        display: flex;
        justify-content: center;
        font-size: 0.5rem;
    }
    
    #upgrades{
        display: flex;
        justify-content: space-around;
        font-size: 0.5rem;
    }
    #upgrades:hover{
        cursor: pointer
    }

    #click-upgrade-amount, #automatic-upgrade-amount{
        font-size: 0.5rem;
    }
    
    /*Perhaps create a class that sets the upgrade buttons to a
    lighter color when the player cant afford them*/
}
    